#navbar {
  overflow: hidden;
  background-color: black;
}

#navbar a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: gray;
  color: black;
}



.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
z-index: 100;

}

.sticky + .content {
  padding-top: 60px;
}

#myVideo {
 position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
h1{
  font-family: 'Monoton', cursive;
  color: yellow;
}


.column {
  float: left;
  width: 30.33%;
  padding: 5px;
 
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;

}
.column img {
  opacity: 0.9; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
 
}

footer {
 position: fixed;
 width: 99.15%; 
 bottom: 0;
 color: white;

 background:gray;
}



.ah1{

text-align: center;
font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 50px;  
  font-style: bold;
    opacity: 0.8; 

}
.image {
  margin: auto;
  width: 10.33%;
  padding: 5px;
  border-radius: 50%;

 
}
.image img{
  
  width: 10.33%;
  padding: 5px;
  border-radius: 50%;

 
}
.about {
  margin: auto;
  width: 40.33%;
  padding-top: 50px;
  line-height: 2;
  border-style: none none outset none;
  opacity: 0.5; 
 
}
.info{
  
  padding-bottom: 5px;
  padding-right: 10px;

 bottom: 15;
 color: white;
 width: auto;
 background:gray;
}
.info h2{
text-align-last: center;
text-decoration: underline;
}
.info h3{
  text-align-last: center;
}
