html{
  font-family: 'Roboto', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  overflow: hidden;
  background-color: black;
}

#navbar a {
  float: left;
  display: block;
  color: #eee;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #333;
  color: #eee;
}



.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky + .content {
  padding-top: 60px;
}

button {
  background-color: black; /* Green */
  border-radius: 20px;
  color: white;
  padding: 20px;
  width: 48%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button a{
 text-decoration: none;
 color: white;
}
h1{
  font-family: 'Monoton', cursive;
  color: yellow;
}
h2{
  padding-top: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 30px;  
  font-weight: 700;
  opacity: 0.8; 
}

.column {
  float: left;
  width: 30.33%;
  padding: 5px;
   position: relative;
 
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;

}
.column img {
 opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.column img:hover {
  opacity: 1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.column:hover .middle {
  opacity: .7;
}


.text {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.text a{ color: white;}




footer {
 position: fixed;
 width: 100%; 
 padding: 15px;
 bottom: 0;
 color: white;
 background:#000;
}

.ah1{
  padding-top: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 50px;  
  font-weight: 700;
  opacity: 0.8; 

}
.image {
  margin: auto;
  width: 10.33%;
  padding: 5px;
  border-radius: 50%;
}
.image img{
  
  width: 10.33%;
  padding: 5px;
  border-radius: 50%;
}
.about {
  background-color: white;
  margin: auto;
  max-width: 40rem;
  padding-top: 50px;
  padding-bottom:25px;
  line-height: 2;
  border-style: none none outset none;
  color:#333;
}
.about1 {
  background-color: white;
  margin: auto;
  max-width: 40rem;
  padding-top: 50px;
  padding-bottom:25px;
  line-height: 2;
  border-style: none;
  color:#333;
}
.info{
  padding-bottom: 50px;  
  color: white;
  width: auto;
  background:#333;
}
.info h2{
  text-align-last: center;
  text-decoration: underline;
}
.info h3{
  text-align-last: center;
}

.pic{
  padding-top: 10px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  height: 750px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 15%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 20px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  width: 48%;

}
.fa-instagram {
  background: #F56040;
  color: white;
  width: 48%;
}


